:root {
  --green: #00965c;
  --dark-green: #00574f;
  --dark-gray: #19427f;
}

/* Buttons */

.g3-button--primary,
.g3-dropdown-button__button--primary,
.data-dictionary__switch-button--active,
.popup__title, .button-primary-orange {
  background-color: var(--green);
}

.g3-button--primary:hover,
.g3-dropdown-button__button--primary:hover,
.data-dictionary__switch-button:hover,
.button-primary-orange:hover {
  background-color: var(--dark-green)
}

.g3-button--default:active, .g3-button--default:active svg path {
  border: 1px solid var(--green);
  color: 1px solid var(--green);
  fill: 1px solid var(--green);
}

/* Nav Bars and Footer */

.top-bar,
.top-bar__header,
.top-icon-button.body-typo {
  background-color: var(--green);
}

.top-bar__link {
  border-right: 2px solid #fff;
}

.nav-button:hover,
.button-active,
.nav-bar__link--home:hover {
  border-bottom: 3px solid var(--green);
}

.nav-bar__logo {
  padding: 15px 0;
}

.nav-bar__logo-img {
  height: 50px;
}

.footer__version-area {
  width: 600px;
}

.footer {
  background-color: var(--dark-gray);
}

.footer-container {
  background-color: var(--dark-gray);
}

.footer__nav {
  background-color: var(--dark-gray);
}

/* Data Explorer */

.filter-group__tab,
.g3-filter-group__tab {
  border-top: 1px solid var(--green);
  border-right: 1px solid var(--green);
  border-left: 1px solid var(--green);
  color: var(--green);
}

.tier-access-selector__radio-input:checked + .tier-access-selector__customized-radio-input::after {
  background-color: var(--green);
}

.filter-group__tab--selected,
.g3-filter-group__tab--selected {
  background-color: var(--green);
  color: #fff;
}

.aggregation-card .bucket-item .bucket-count {
  color: var(--green);
}

.aggregation-card input[type='checkbox']:checked {
  background: var(--dark-green);
}

.g3-single-select-filter__checkbox:checked {
  background: var(--green);
}

.sqon-clear {
  background-color: var(--green);
}

.sqon-value {
  background-color: var(--dark-green);
}

.sqon-value-group, .sqon-more, .sqon-less {
  color: var(--green);
}

.input-range__track--active,
.rc-slider-track,
.g3-single-select-filter__count .g3-icon--under {
  background-color: var(--green);
}

/* Charts */

tspan.special-number,
.special-number,
.form-special-number,
.g3-single-select-filter__count {
  color: var(--green);
}

.special-number {
  fill: var(--green);
}

.data-explorer__charts {
  tspan.special-number,
  .special-number,
  .form-special-number {
    color: var(--green);
  }

  .special-number {
    fill: var(--green);
  }
}

.explorer-button-group__dropdown {
  margin-right: 10px;
}